// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #9EDDFF;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FFFFFF;

// cards-color
$todo-grey:#A0A0A0;
$progress-pink:#D8C8C3;
$done-grey:#E6E6E6;

//button-colors
$back-button: #575C5F;
$back-button-hover: #6C7375;
$delete-red: #ED2B2C;
$delete-hover:#C70039;
$create-button:#94A6B3;
$create-button-hover:#c0d6e6;
$logout-grey:#A9A9A9;