<div class="tasks">
  <!-- To Do -->
  <div class="todo">
    <h1 class="text-center">To Do</h1>
    <ul class="cards p-2">
      <% @to_do_tasks.each do |task| %>
        <%= render "task", task: task, carousel_id: "todo_#{task.id}" %>
      <% end %>
    </ul>
  </div>

  <!-- In Progress -->
  <div class="inprogress">
    <h1 class="text-center">In Progress</h1>
    <ul class="cards p-2">
      <% @in_progress_tasks.each do |task| %>
        <%= render "task", task: task, carousel_id: "inprogress_#{task.id}" %>
      <% end %>
    </ul>
  </div>

  <!-- Done -->
  <div class="done">
    <h1 class="text-center">Done</h1>
    <ul class="cards p-2">
      <% @done_tasks.each do |task| %>
        <%= render "task", task: task, carousel_id: "done_#{task.id}" %>
      <% end %>
    </ul>
  </div>
</div>

