<div class="navbar">
  <div class="new-task">
    <%= link_to "New task", new_task_path, 
      data: { turbo_frame: "modal" }, 
      :class => "btn btn-create-task m-1" %>
  </div>
    <div class="navbar-logout">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn log-out" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        <% end %>
    </div>
</div>
