.btn {
  border: none; 
  color: $white;
  border-radius: 5px;
  padding: 8px 20px; 
}


.btn-back {
  background-color: $back-button; 
  position: relative;
  top: -25px;
}

.btn-back:hover, .log-out:hover {
  background-color: $back-button-hover; 
  color: $white;
}

.btn-create-task {
  background-color: $create-button; 
}

.btn-create-task:hover {
  background-color: $create-button-hover; 
}

.button-group {
  display: flex;
  justify-content: space-between;
  text-align: center; 
  margin-top: 20px;
}

.log-out {
  background-color: $logout-grey; 
}

.btn-delete-task {
  background-color: $delete-red; 
  float: right;
}

.btn-delete-task:hover {
  background-color: $delete-hover; 
  color: $white;
}

