.btn {
  border: none; 
  color: #fff;
  border-radius: 5px;
  padding: 8px 20px; 
}


.btn-back {
  background-color: #A9A9A9; 
  float: left;
}

.btn-back:hover, .log-out:hover {
  background-color: #4a4a4a; 
}

.btn-create-task {
  background-color: #89CFF3; 
  float: right;
}

.btn-create-task:hover {
  background-color: #00A9FF; 
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.log-out {
  background-color: #A9A9A9; 
}

