.footer {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  height: 75px;
  color: rgba(0,0,0,0.3);
  width: 100%;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

@media (min-width: 100px) and (max-width: 575px) {
  .footer {
    padding: 0px 10px;
    height: 50px;
  }
  .footer-links a {
    font-size: 16px;
  }
}

